pandas
numpy
requests==2.11.1
requests-toolbelt==0.7.0
moviepy==0.2.2.11
imageAI
imageio
opencv-python
Keras==2.1.2
keras_preprocessing
https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-1.2.1-cp35-cp35m-win_amd64.whl